#index_body {
    background-color: #BAA29E;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;


}

.logo {
    position: absolute;
    top: 0px;
    width: 10%;
    height: auto;
}

/*
.logo .desktop {
    display: block;
    height: ;
    width: auto;
}
*/

.logo .mobile {
    display: none;
}

@media (max-width: 600px) {
    .logo .mobile {
        display: block;
        max-width: 263px;
    }
    .logo .desktop {
        display: none;
    }
}

.nav_bar {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.825rem;
    position: absolute;
    right: 1rem;

}

.nav_bar a {
        text-decoration: none;

}
.nav_bar li{
    list-style-type: none;
    float: left;
    padding-right: 10px;

}
